image: php:7.1.1
dist: trusty
sudo: true
notifications:
  email: false
language: php
php:
  - '7.1.12'
before_script:
  - sudo add-apt-repository -y ppa:ondrej/php
  - sudo apt-get update -y
  - sudo apt-get install -y apache2 php7.1 libapache2-mod-php7.1 php7.1-cli php7.1-common php7.1-mbstring php7.1-gd php7.1-intl php7.1-xml php7.1-mysql php7.1-mcrypt php7.1-zip
jobs:
  include:
    - stage: npm 0.12
      script:
        - nvm install 0.12
        - nvm use 0.12
        - rm -rf node_modules
        - npm install
        - npm run build
        - npm test
    - stage: npm 4
      script:
        - nvm install 4
        - nvm use 4
        - rm -rf node_modules
        - npm install
        - npm run build
        - npm test
    - stage: npm 6
      script:
        - nvm install 6
        - nvm use 6
        - rm -rf node_modules
        - npm install
        - npm run build
        - npm test
    - stage: npm 8
      script:
        - nvm install 8
        - nvm use 8
        - rm -rf node_modules
        - npm install
        - npm run build
        - npm test
        - npm run lint
      after_success:
        - TRAVIS_JOB_NUMBER=WORKAROUND.1 npm run semantic-release
branches:
  only:
    - master
